Python Projects/AI - Spam Detector/emails.csv
Python Projects/Best fit - new employee recommended payment/Position_Salaries.csv
Python Projects/Investors Guild - Will-BE Best performing startup/50_Startups.csv
Python Projects/Price Prediction/avocado.csv
Python Projects/Recommendation System for Price - what can customer afford/Car_Purchasing_Data.csv
Python Projects/Sentiment Analysis - Resturant Reviews/reviews.csv
Python Projects/Trend Prediction - Who Leaves the bank/Churn_Modelling.csv
Python Projects/User Recomendation Systems based on Interest/My_Ratings.csv
Python Projects/User Recomendation Systems based on Interest/u.data
Python Projects/User Recomendation Systems based on Interest/Movie_Id_Titles

R - Programming Projects/Best fit - new employee recommended payment/Position_Salaries.csv
R - Programming Projects/Best Performing Ad/Ads_CTR_Optimisation.csv
R - Programming Projects/Investors Guide - Best performing startup/50_Startups.csv
R - Programming Projects/Product Source Preference - Customer Prefered Sources/Wine.csv
R - Programming Projects/Target Customers/Mall_Customers.csv